{% extends 'base/base.html' %}

{% block body %}



<div class="row">
    
    {% for i in product_data %}
        
    
        
    <div class="card" style="width: 18rem;">
  <img src="/{{i.image}}" width="250px" height="150px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <h5 class="card-title"><strong>{{i.price}}</strong></h5>
    <p class="card-text">{{i.description}}</p>
    <a href="{% url 'orderPage' i.id %}" class="btn btn-primary">Order Now</a>
  </div>
</div>
{% endfor %}

</div>
    
{% endblock body %}



    